* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: lighter;
}

body {
    width: 100%;
    height: 100%;   
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 10px;
}
.gray {
    background-color: #777777;
    color: #fff;
    padding: 10px;
}

.clear-list {
    list-style-type: none;
}

.list {
    list-style-type: disc;
}

.light-gray {
    background-color: #DCDCDC;
    color: #737373;
}

.list-square {
    list-style-type: square;
}

.bold {
    font-weight: bold;
}

.break-line {
    height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #696969;
}

header {
    display: flex;
    height: 108px;
    width: 100%;
    justify-content: space-between;
}

.header__logo {
    height: 100%;
    width: 122px;
}

.header__contact {
    height: 100%;
    width: 279px;
}

.header__more {
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.content__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 184px;
}

.green {
    width: 184px;
    height: 134px; 
}

.content__center{
    width: 757px;
}

.content__first-block {
    padding: 20px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.content__list{
    padding-left: 40px;
}

.articles {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.about__item{
    width: 369px;
    padding: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.footer__item {
    width: 297px;
    padding: 13px 15px 13px 40px;
    height: 180px;
}

.footer__left-list {
    column-count: 2;
}

.footer__right {
    width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right-item{
    height: 77px;
}